<p>Bonjour,</p>

<p>Une demande de réinitialisation du mot de passe a été effectuée il y a peu, cliquez sur ce lien pour réinitialiser votre mot de passe : <a href="{{ absolute_url(path('app_retrieve_credentials', {'id': user.id, 'token': user.forgotPasswordToken})) }}">Réinitialiser mon mot de passe</a></p>

<p>Si vous nêtes pas l'auteur de cette demande, ignorez ce message.</p>
