<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Sinequanone
    </h3>
    <p>
        Bonjour {{ firstname }} {{ lastname }}
    </p>
    <p>Un bien correspondant à une de vos recherches sauvegardées vient d\'être ajouté.</p>
</div>