<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

            <p>Nom : {{ app.user.name }}</p>
            <p>E-mail : {{ app.user.email }}</p>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
