{% extends 'base_front.html.twig' %}

{% block title %}Profile{% endblock %}

        {% block stylesheets %}{% endblock %}

    <body>
        {% block body %}

            <p>Nom : {{ app.user.name }}</p>
            <p>E-mail : {{ app.user.email }}</p>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
