<form method="post" action="{{ path('front_user_pass_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte ? (cette action est définitive)');" class="inline">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
	
	<button class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg inline">Supprimer mon compte</button>
</form>
