<form method="post" action="{{ path('front_user_pass_delete') }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button class="btn red">Suppression du compte</button>
</form>
