{% extends 'base_front.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <section class="mt-40 w-1/3 mx-auto">
        <h1 class="font-bold text-4xl mb-4 text-center">Mot de passe oublié</h1>
        <p class="mb-4 text-lg">Vous pouvez réinitialiser votre mot de passe. Saisissez tout d'abord votre adresse email afin de confirmer votre identité.</p>
        {% form_theme emailForm 'themes/tailwindcss.html.twig' %}
        {{ form_start(emailForm) }}
            <div class="text-red-600 font-bold">{{ form_errors(emailForm.email) }}</div>
            {{ form_row(emailForm.email) }}

            <button type="submit" class="mt-6 w-full focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg mr-2 mb-4">
                Envoyer
            </button>
        {{ form_end(emailForm) }}
    </section>

{% endblock %}
