{% extends 'base_front.html.twig' %}

{% block title %}{{ appName }} - Accueil{% endblock %}

{% block body %}
<section class="container mx-auto bg-white py-8">
	<h1 class="text-4xl font-extrabold">A propos de nous</h1>		

	<p class="mt-4"></p>
</section>
{% endblock %}