{% extends 'base_front.html.twig' %}

{% block title %}{{ appName }} - Accueil{% endblock %}

{% block body %}
<div class="container mx-auto my-8">
    <h1 class="font-extrabold text-3xl text-center mb-4">POLITIQUE GÉNÉRALE&nbsp;<br>DE PROTECTION DES DONNÉES<br>- Site Web et Application
        Sinequanone -</h1>
    <p class="my-2"><strong>Digital Classifieds France, Groupe Sinequanone (ci-après « DCF ») prend à cœur la protection de la vie privée
            et des données personnelles de ses utilisateurs (ci-après les “Utilisateurs”).</strong></p>
    <p class="my-2"><strong>La présente politique de confidentialité a pour objectif de vous informer de manière transparente sur les
            traitements de vos données personnelles par DCF et sur l’étendue de vos droits dans le cadre de
            l’utilisation des sites Internet
            <!-- -->
        </strong><a class="text-blue-900" href="#"><strong>www.sinequanone.com</strong></a><strong> et </strong><a
            href="#"><strong>www.edito.sinequanone.com</strong></a><strong>
            <!-- -->(ci-après « le Site Internet ») et de l’application associée (ci-après « l’Application »).
        </strong></p>
    <p class="my-2"><strong>IDENTITÉ DU RESPONSABLE DE TRAITEMENT</strong></p>
    <p class="my-2">DCF (Groupe Sinequanone) - S.A.S au capital de 715.179.902 euros, ayant son siège social au 65, rue Ordener 75018
        Paris, immatriculée au RCS de Paris sous le numéro 789 177 391 - est responsable de traitement des données
        personnelles collectées sur le Site Internet et l’Application au sens du Règlement UE 2016/679 du 27 avril 2016
        relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à
        la libre circulation de ces données (ci-après « RGPD »).</p>
    <h2 class="font-bold text-lg my-4">1. Qu’est-ce qu’une donnée personnelle ?</h2>
    <p class="my-2">Une donnée personnelle désigne toute information relative à une personne physique permettant de l’identifier
        directement tels que son nom, son prénom, son adresse postale ou e-mail, ou indirectement tel qu’un identifiant
        Utilisateur, une adresse IP, des données de navigation, etc.</p>
    <h2 class="font-bold text-lg my-4">2. Quelles données collectons-nous et dans quelles circonstances ?</h2>
    <p class="my-2">DCF collecte les données suivantes vous concernant dans le cadre des activités et contextes suivants:</p>
    <ul class="ml-10 list-disc">
        <li>Données que vous nous communiquez <strong>directement</strong> lors du remplissage d’un formulaire ou de la
            création d’un compte;</li>
        <li>Données de navigation collectées <strong>automatiquement</strong> lors de votre utilisation du Site Internet
            ou de l’Application Sinequanone;</li>
        <li>Données fournies <strong>par nos partenaires</strong>.</li>
    </ul>
    <p class="my-2"><strong>Gestion de votre compte</strong></p>
    <p class="my-2">Lors de la création de votre compte, vous nous communiquez vos données de création de compte (adresse email et
        mot de passe créé) et nous générons un identifiant unique afin de vous permettre de vous authentifier, de
        personnaliser votre expérience et de vous envoyer des emails de service (création de compte, demande de
        modification de mot de passe,...). Si vous le souhaitez, vous pouvez également renseigner les informations
        personnelles facultatives suivantes afin de personnaliser votre expérience sur le Site Internet et
        l’Application:</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>numéro de téléphone,</li>
        <li>année de naissance,</li>
        <li>adresse postale,</li>
        <li>raison de présence sur Sinequanone.</li>
    </ul>
    <p class="my-2">Vous pouvez ajouter et consulter dans votre espace personnel vos favoris, vos recherches enregistrées et vos
        annonces déposées. Par ailleurs, vos données de navigation relatives à la consultation des pages de biens sont
        collectées automatiquement afin de répertorier les annonces que vous avez vues précédemment.</p>
    <p class="my-2"><strong>Gestion de vos alertes et de votre abonnement à la newsletter</strong></p>
    <p class="my-2">Lorsque vous activez une alerte “<em>Annonces Similaires</em>” ou remplissez un formulaire de prise de contact
        avec un professionnel de l’immobilier sans vous opposer à l’envoi d’alerte emails “<em>Annonces
            Similaires</em>”, vous nous communiquez les données suivantes afin de recevoir par email ou notification des
        alertes pour des biens similaires correspondant à vos critères de recherche,:</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>adresse email, numéro de téléphone,</li>
        <li>critères de recherche, titre et motif de l’alerte facultatifs.</li>
    </ul>
    <p class="my-2">Lorsque vous vous inscrivez à la newsletter Sinequanone, vous nous communiquez votre adresse email afin de recevoir
        cette newsletter.</p>
    <p class="my-2"><strong>Gestion de vos demandes et de la mise en relation avec des professionnels de l’immobilier via les
            formulaires en ligne</strong></p>
    <p class="my-2">- Lorsque vous remplissez le formulaire de <strong>prise de contact avec un professionnel de
            l’immobilier</strong>, vous nous communiquez les informations suivantes afin de transmettre votre demande au
        professionnel de l’immobilier</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>adresse mail, numéro de téléphone,</li>
        <li>critères de recherche, titre et motif de l’alerte.</li>
    </ul>
    <p class="my-2">Sauf opposition de votre part, vous recevrez également par mail ou par notification des biens similaires
        correspondant à vos critères de recherches ainsi que nos propositions de services autour de votre projet
        immobilier (que nous qualifions de Services Analogues).</p>
    <p class="my-2">De plus, sous réserve de votre consentement, nous collectons certaines données de navigation (nombre de demandes
        de contacts associées à votre adresse mail et pages visitées) afin de permettre au professionnel de l’immobilier
        de mieux comprendre votre projet immobilier d’achat, d’estimer automatiquement le degré d’intérêt de votre
        recherche et communiquer cette indication au professionnel de l’immobilier pour l’aider à améliorer sa gestion
        des demandes de contact, et d’indiquer au professionnel de l’immobilier les annonces qui pourraient vous
        intéresser.</p>
    <p class="my-2">- Lorsque vous remplissez le formulaire de <strong>prise de contact avec un particulier louant un bien</strong>,
        vous nous communiquez les informations suivantes afin de transmettre votre demande au loueur</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>adresse mail, numéro de téléphone,</li>
        <li>habitudes de vie, situation familiale.</li>
    </ul>
    <p class="my-2">Afin de transmettre les éléments à déclarer par le candidat à la location permettant au loueur d’apprécier sa
        situation financière, vous nous communiquez des informations sur votre situation professionnelle et sur les
        revenus de votre foyer.</p>
    <p class="my-2">- Lorsque vous remplissez le formulaire de <strong>demande d’estimation d’un bien immobilier</strong>, vous nous
        communiquez les informations suivantes afin que nous réalisions une estimation automatisée de votre bien à
        l’aide de notre filiale Falguière Conseil (éditeur du site MeilleursAgents) :</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>adresse mail, numéro de téléphone,</li>
        <li>caractéristiques du bien à estimer,</li>
        <li>profil vendeur.</li>
    </ul>
    <p class="my-2">Si vous sélectionnez cette option et sous réserve de votre consentement, nous pouvons transmettre vos
        informations à un (ou plusieurs) professionnel(s) de l’immobilier de votre choix pour affiner votre demande
        d’estimation.&nbsp;</p>
    <p class="my-2">De plus, sauf opposition de votre part, nous pouvons utiliser ces données pour vous recontacter par téléphone
        dans le cadre d’une enquête facultative de satisfaction sur la qualité du service d’estimation et collecter à
        cette occasion vos retours.</p>
    <p class="my-2">- Lorsque vous remplissez le formulaire de Contact Acquéreur (<strong>“</strong><strong><em>Besoin de l'aide d'un
                pro pour vous aider à définir votre projet ?”</em></strong>), vous nous communiquez les informations
        suivantes afin de nous transmettions votre demande de contact à une sélection de professionnels de l’immobilier
        dans le cadre de votre projet d’achat d’un bien immobilier :</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>adresse mail, numéro de téléphone,</li>
        <li>code postal.</li>
    </ul>
    <p class="my-2">- Lorsque vous remplissez le formulaire Opportunité Mandat (<strong><em>“Demander à être rappelé par un
                conseiller Sinequanone”</em></strong>), vous nous communiquez les informations suivantes afin que nous
        transmettions votre demande de contact à une sélection de professionnels de l’immobilier dans le cadre de votre
        projet de vente d'un bien immobilier:</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>type et localisation du bien,</li>
        <li>adresse mail, numéro de téléphone.</li>
    </ul>
    <p class="my-2">- Lorsque vous remplissez un <strong>formulaire d’assurance de prêt </strong>en lien avec notre partenaire dédié,
        vous nous communiquez les informations suivantes afin d’obtenir un devis automatisé d’assurance de prêt par
        notre partenaire et, si vous y consentez, afin d'être recontacté par mail par notre partenaire pour affiner
        votre tarif d'assurance de prêt:</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>adresse mail, numéro de téléphone,</li>
        <li>caractéristiques du projet immobilier,</li>
        <li>âge, statut professionnel, statut “fumeur”,</li>
        <li>caractéristiques du crédit envisagé.</li>
    </ul>
    <p class="my-2">- Lorsque vous remplissez le <strong>formulaire de déménagement </strong>en lien avec notre partenaire dédié,
        vous nous communiquez les informations suivantes afin d'obtenir un devis automatisé de déménagement par notre
        partenaire dédié:</p>
    <ul class="ml-10 list-disc">
        <li>état civil,</li>
        <li>numéro de téléphone,</li>
        <li>caractéristiques du déménagement.</li>
    </ul>
    <p class="my-2">- Lorsque vous remplissez le formulaire de contact
        <!-- --> <strong><em>“Nous contacter”</em></strong>, vous communiquez à notre service client les informations
        suivantes afin de répondre à vos questions:
    </p>
    <ul class="ml-10 list-disc">
        <li>nom,</li>
        <li>adresse mail, objet de votre demande,</li>
        <li>message.</li>
    </ul>
    <p class="my-2">- Lorsque vous remplissez le formulaire de signalement d’une annonce, vous nous communiquez les informations
        suivantes afin de prendre en compte votre signalement d’une annonce et vous informer des suites données:</p>
    <ul class="ml-10 list-disc">
        <li>nom,</li>
        <li>adresse mail,</li>
        <li>raison du signalement,</li>
        <li>précisions facultatives.</li>
    </ul>
    <p class="my-2">De plus, nous collectons votre adresse IP afin de vérifier et détecter toute tentative de signalement
        malveillant.</p>
    <p class="my-2">Lorsque vous remplissez certains de nos formulaires et sauf opposition de votre part, vous nous communiquez les
        informations suivantes afin de vous recontacter par mail dans le cadre d’enquêtes de satisfaction, études et
        sondages:</p>
    <ul class="ml-10 list-disc">
        <li>nom,</li>
        <li>adresse mail.</li>
    </ul>
    <p class="my-2"><strong>Gestion de votre navigation et de vos recherches immobilières</strong></p>
    <p class="my-2">- Lorsque vous naviguez sur le Site Internet ou l’Application, nous collectons les données suivantes afin de
        gérer votre navigation, d’optimiser vos recherches géographiques via la cartographie et proposer des biens
        proches de vos lieux favoris (“<em>Voir les biens autour de ma zone</em>”), d’optimiser votre temps de recherche
        et proposer des recherches récentes, de déterminer une zone de vie idéale et de calculer un périmètre en
        fonction de votre indication de temps de trajet maximum souhaité et des modes de transports:</p>
    <ul class="ml-10 list-disc">
        <li>données de géolocalisation,</li>
        <li>critères de recherches renseignés.</li>
    </ul>
    <p class="my-2">- Lors de la mise en favoris (<strong>“Sauvegarder”</strong>) d’un bien immobilier, nous collectons les données
        suivantes afin de pouvoir vous alerter en cas de changement de prix d’une annonce, de vous permettre de
        retrouver ces annonces dans vos favoris depuis le Site Internet ou l’Application et identifier les annonces
        précédemment mises en favori:</p>
    <ul class="ml-10 list-disc">
        <li>caractéristiques de l’annonce sauvegardée,</li>
        <li>identifiant unique auquel associer le favori.</li>
    </ul>
    <p class="my-2">- Lorsque vous naviguez sur le Site Internet ou l’Application, nous collectons des données sur votre navigation
        (nombre de visites, pages visitées, historique de navigation, actions effectuées sur le site, origine de l’accès
        au site, adresse IP) et générons un identifiant de mesure d’audience, dans le respect de la base légale requise
        par la réglementation, afin de générer des statistiques sur sa fréquentation et son utilisation.</p>
    <p class="my-2">- Lorsque vous naviguez sur le Site Internet ou l’Application, sous réserve de votre consentement préalable pour
        le dépôt de traceurs de la finalité associée, nous collectons des données sur votre navigation (nombre de
        demandes de contacts associées à votre adresse mail et pages visitées) et générons un identifiant unique afin
        d’activer la Recommandation d’Annonces et de vous recommander par notification des biens qui pourraient vous
        intéresser.</p>
    <p class="my-2">- Lorsque vous naviguez sur le Site Internet ou l’Application, sous réserve de votre consentement préalable pour
        le dépôt de traceurs de la finalité associée, nous collectons vos données de navigation, afin de vous diffuser
        des annonces publicitaires adaptées à vos centres d’intérêts. A défaut de consentement, nous collectons votre
        adresse IP afin de vous diffuser de la publicité contextuelle.</p>
    <p class="my-2">- Lorsque vous naviguez sur le Site Internet ou l’Application, nous collectons des données sur votre navigation
        afin d’assurer la sécurité de nos services en détectant/retraçant toute tentative de malveillance, intrusion
        informatique ou violation des CGU.&nbsp;</p>
    <p class="my-2"><strong>Publication de votre annonce</strong></p>
    <p class="my-2">- Lorsque vous déposez une annonce de location d’un bien immobilier en tant que particulier, vous nous
        communiquez les informations suivantes afin de publier le bien sur le Site Internet et l’Application et d’être
        contacté par les personnes intéressées:</p>
    <ul class="ml-10 list-disc">
        <li>caractéristiques du bien (localisation, description, montant du bien, et facultativement, photos et vidéos),
        </li>
        <li>numéro de téléphone,</li>
        <li>données de création de compte (adresse email et mot de passe créé).</li>
    </ul>
    <p class="my-2">Afin de détecter toute tentative de fraude, nous et notre partenaire anti-fraude traitons les données que vous
        nous communiquez, d’éventuels justificatifs ultérieurs d’identité ou de domicile ainsi que l’adresse IP du
        terminal utilisé. Ce traitement prévoit une modération manuelle des annonces potentiellement frauduleuses et ne
        constitue donc pas une prise de décision automatisée au sens de l’article 22 du RGPD.</p>
    <p class="my-2">- Lorsque vous déposez une annonce en tant que professionnel pour un bien immobilier via les formulaires dédiés,
        vous nous communiquez les informations suivantes afin de publier le bien sur le Site Internet et l’Application
        et d’être contacté par les personnes intéressées:</p>
    <ul class="ml-10 list-disc">
        <li>caractéristiques du bien (localisation, description, montant du bien, et facultativement, photos et vidéos),
        </li>
        <li>état civil,</li>
        <li>numéro de téléphone,</li>
        <li>données de création de compte professionnel (adresse email et mot de passe créé),</li>
        <li>SIRET, raison sociale, adresse de facturation, à des fins de facturation de la publication.</li>
    </ul>
    <p class="my-2"><strong>Gestion de l’affichage des biens vendus</strong></p>
    <p class="my-2">- Lorsque vous avez donné mandat à un professionnel de l’immobilier ayant souscrit une offre de publication
        d’annonces auprès de DCF, ce dernier peut nous transmettre les informations suivantes pour afficher les biens
        vendus sur le Site ou l’Application:</p>
    <ul class="ml-10 list-disc">
        <li>caractéristiques du bien (type de bien, nombre de pièces, surface loi Carrez),</li>
        <li>localisation du bien,</li>
        <li>prix et date de la vente,</li>
        <li>professionnel de l’immobilier mandataire.</li>
    </ul>
    <p class="my-2">Ces informations nous permettent de renseigner nos Utilisateurs sur l'état du marché immobilier de leur secteur
        et d’utiliser les caractéristiques des biens vendus dans notre calcul d'estimation en ligne du prix d’un bien
        immobilier.</p>
    <p class="my-2">- Par ailleurs, lorsqu'une mutation d’un bien immobilier est opérée en France, l’administration fiscale met
        gratuitement à disposition du public les données relatives à ces mutations pour les cinq dernières années au
        titre du décret n° 2018-1350 du 28 décembre 2018, pris en application de la loi n° 2018-727 du 10 août 2018. Ces
        données sont issues des traitements informatisés relatifs à la publicité foncière et à la documentation
        littérale du cadastre (« Demande de Valeurs Foncières (DVF) »). Nous collectons et réutilisons, conformément aux
        Conditions Générales d’Utilisation de la DVF, les informations suivantes relatives à des ventes uniquement et
        issues de cette base de données afin de renseigner nos Utilisateurs sur l’état du marché immobilier de leur
        secteur:</p>
    <ul class="ml-10 list-disc">
        <li>caractéristiques du bien (type de bien, nombre de pièces, surface loi Carrez),</li>
        <li>localisation du bien,</li>
        <li>prix et date de la vente.</li>
    </ul>
    <p class="my-2">Concernant les données de la DVF, la fourniture d’une information préalable sur le traitement aux personnes
        concernées par ces ventes étant impossible ou exigeant des efforts disproportionnés, DCF n’est pas tenu
        d’informer individuellement ces personnes et les présentes mentions permettent l’information des personnes.</p>
    <h2 class="font-bold text-lg my-4">3. Pour quelles finalités traitons-nous vos données et sur quels fondements ?</h2>
    <p class="my-2">Nous traitons vos données pour les finalités suivantes et selon les bases légales précisées ci-dessous :</p>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <td>Base légale</td>
                    <td>Finalités du traitement</td>
                </tr>
                <tr>
                    <td><strong>Exécution du contrat</strong></td>
                    <td>
                        <ul class="ml-10 list-disc">
                            <li>publier le bien que vous souhaitez diffuser sur notre Site Internet et Application et
                                être contacté par les personnes intéressées;</li>
                            <li>vous envoyer des alertes emails pour des biens similaires correspondant à vos critères
                                de recherche, par email ou notification, suite à votre activation de l’alerte “Annonces
                                Similaires”;</li>
                            <li>créer votre compte et vous permettre de vous identifier;</li>
                            <li>vous envoyer des emails de services associés (ex: compte créé, modification de mot de
                                passe)</li>
                            <li>pouvoir vous alerter en cas de changement de prix d’une annonce mise en favori, vous
                                permettre de retrouver ces annonces dans vos favoris depuis le Site Internet et
                                identifier les annonces précédemment mises en favori;</li>
                            <li>transmettre vos demandes de contact à des professionnels de l’immobilier;</li>
                            <li>transmettre vos demandes de contact à des particuliers louant un bien;</li>
                            <li>transmettre les éléments à déclarer par un candidat à une location permettant au loueur
                                d’apprécier sa situation financière;</li>
                            <li>répondre à votre demande d’estimation automatisée du prix de votre bien immobilier;</li>
                            <li>transmettre, suite à votre demande, vos informations à un (ou plusieurs)
                                professionnel(s) de l’immobilier de votre choix pour affiner votre demande d’estimation
                                du prix de votre bien immobilier;</li>
                            <li>transmettre vos demandes de contact à une sélection de professionnels de l’immobilier
                                dans le cadre d’un projet d’achat d’un bien immobilier;</li>
                            <li>transmettre vos demandes de contact à une sélection de professionnels de l’immobilier
                                dans le cadre d’un projet de vente d'un bien immobilier;</li>
                            <li>obtenir, suite à votre demande, un devis automatisé d’assurance de prêt par notre
                                partenaire dédié;</li>
                            <li>obtenir, suite à votre demande, un devis automatisé de déménagement par notre partenaire
                                dédié;</li>
                            <li>répondre à vos questions adressées au service client;</li>
                            <li>facturer les Utilisateurs professionnels pour la publication d’annonces unitaires;</li>
                            <li>prendre en compte votre signalement d’une annonce et vous informer des suites données;
                            </li>
                            <li>vous inscrire à la newsletter Sinequanone suite à votre demande;</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Intérêt légitime</strong></td>
                    <td>
                        <ul class="ml-10 list-disc">
                            <li>vous proposer des Services Analogues à votre demande initiale c’est à dire vous envoyer
                                des alertes pour des biens similaires à vos critères de recherche, par email ou
                                notification, suite au remplissage du formulaire de prise de contact avec un
                                professionnel de l’immobilier; (prospection pour des biens similaires)</li>
                            <li>personnaliser votre expérience sur le Site et l’Application; (amélioration de
                                l’expérience utilisateur)</li>
                            <li>optimiser votre temps de recherche et proposer des recherches récentes et annonces
                                consultées; (amélioration de l’expérience utilisateur)</li>
                            <li>répertorier les annonces que vous avez vues précédemment; (amélioration de l’expérience
                                utilisateur)</li>
                            <li>vous recontacter par téléphone dans le cadre d’une enquête facultative de satisfaction
                                sur la qualité du service d’estimation et collecter à cette occasion vos retours;
                                (connaissance utilisateur)</li>
                            <li>vous recontacter par mail dans le cadre d’enquêtes de satisfaction, études et sondages;
                                (connaissance utilisateur)</li>
                            <li>générer des statistiques sur la fréquentation et l’utilisation de nos services; (bonne
                                administration du site et connaissance utilisateur)</li>
                            <li>améliorer le service et la formation des conseillers de nos centres d’appels;
                                (amélioration du service et de la formation)</li>
                            <li>conserver les données à des fins de preuves; (sécurité juridique)</li>
                            <li>renseigner nos Utilisateurs sur l'état du marché immobilier de leur secteur;
                                (amélioration de l’information sur l’état du marché immobilier)</li>
                            <li>utiliser les caractéristiques des biens vendus dans notre calcul d'estimation en ligne;
                                (amélioration de la précision des estimations)</li>
                            <li>assurer la sécurité de nos services en détectant/retraçant toute tentative de
                                malveillance, intrusion informatique ou violation des CGU;&nbsp;(sécurité informatique)
                            </li>
                            <li>vérifier et détecter toute tentative de signalement abusif; (protection contre les
                                actions malveillantes)</li>
                            <li>vérifier et détecter toute tentative de fraude; (lutte anti-fraude)</li>
                            <li>vous diffuser de la publicité contextuelle. (amélioration de la pertinence des
                                publicités)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Consentement</strong></td>
                    <td>
                        <ul class="ml-10 list-disc">
                            <li>estimer automatiquement le degré d’intérêt de votre recherche et communiquer cette
                                indication au professionnel de l’immobilier que vous contactez pour l’aider à améliorer
                                sa gestion des demandes de contact, lui permettre de mieux comprendre votre projet
                                immobilier d’achat et lui indiquer les annonces qui pourraient vous intéresser;</li>
                            <li>permettre à notre partenaire dédié de vous recontacter par mail pour affiner votre tarif
                                d’assurance de prêt;</li>
                            <li>vous diffuser des annonces publicitaires adaptées à vos centres d’intérêts;</li>
                            <li>vous recommander par notification des biens qui pourraient vous intéresser.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Obligations légales</strong></td>
                    <td>
                        <ul class="ml-10 list-disc">
                            <li>se conformer à nos obligations légales en matière fiscale et comptable.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="font-bold text-lg my-4">4. Quels sont les destinataires de vos données ?</h2>
    <p class="my-2">Lorsque vos données sont traitées par le personnel de DCF, nous nous attachons à ce que seules les personnes
        nécessaires à l’accomplissement de nos finalités puissent y accéder.&nbsp;</p>
    <p class="my-2">De plus, le Groupe DCF propose divers services accessibles sur différents sites (et applications associées) pour
        lesquels il est le responsable de traitement. Vous pouvez trouver une liste complète des sites du groupe
        disponible via ce lien:
        <!-- --> <a class="text-blue-900" href="#">www.groupesinequanone.com</a>.
    </p>
    <p class="my-2">Vos données sont destinées à DCF notamment afin de vous faire bénéficier de services personnalisés et de
        faciliter votre navigation.</p>
    <p class="my-2">Dans le cadre du formulaire d’estimation automatisée du prix d’un bien immobilier, nous partageons vos données
        avec notre société filiale Falguière Conseil SAS, éditant le site meilleursagents.com et responsable conjoint
        pour ce traitement, afin d’obtenir l’estimation du prix de votre bien sur la base de nos données communes.</p>
    <p class="my-2">Dans le cadre de la lutte anti-fraude sur les annonces de locations déposées par des particuliers, nous
        partageons les données relatives à des annonces frauduleuses avec notre partenaire de lutte anti-fraude, Navee,
        en tant que responsable de traitement, afin de détecter des fraudes ultérieures.</p>
    <p class="my-2">Enfin, vos données peuvent être communiqués, lorsque cela est nécessaire dans le cadre des finalités précisées au
        point 3, aux destinataires suivants:</p>
    <ul class="ml-10 list-disc">
        <li>aux partenaires immobiliers, clients de DCF, agissant en tant que responsable de traitement, que vous
            souhaitez expressément et spécifiquement contacter afin de répondre à vos demandes (information sur un bien,
            une agence, demande d'estimation…),</li>
        <li>aux prestataires de DCF agissant en tant que sous-traitant:</li>
        <ul class="ml-10 list-disc">
            <li>prestataires chargés notamment de fournir un service et des publicités adaptés aux Utilisateurs et de
                mesurer la fréquentation du Site Internet et/ou de l'Application,</li>
            <li>prestataires de prospection commerciale,</li>
            <li>prestataires d’organisations de jeux concours,</li>
            <li>prestataires d’hébergement, de maintenance et d’applications cloud,</li>
            <li>prestataires de centre d’appels,</li>
        </ul>
        <li>aux autorités administratives ou judiciaires autorisées afin de répondre à nos obligations légales ou une
            demande légale de ces autorités</li>
        <li>aux partenaires commerciaux de DCF, agissant en tant que responsable de traitement, lorsque les utilisateurs
            ont accepté expressément de recevoir les offres promotionnelles de leur part.</li>
        <li>aux prestataires publicitaires visés au sein de notre plateforme de gestion de cookies référencés dans la
            liste “Voir nos partenaires“. Vous pouvez contrôler le dépôt de cookies par ces derniers via notre
            plateforme de gestion de cookies.</li>
    </ul>
    <h2 class="font-bold text-lg my-4">5. Transferts de données hors UE</h2>
    <p class="my-2">Les données traitées par certains de nos sous-traitants peuvent être transférées hors de l’Union Européenne.
        Lorsque des données sont transférées hors UE, nous veillons à ce que les pays de destination assurent un niveau
        adéquat de protection des données, suivant une décision d’adéquation de la Commission Européenne ou à mettre en
        place des garanties appropriées de nature contractuelle, technique et organisationnelle, conformément au RGPD,
        afin de s’assurer du niveau de protection de vos données, équivalent à celui dont elles bénéficieraient au sein
        de l’UE.</p>
    <h2 class="font-bold text-lg my-4">6. Quelle est la durée de conservation de vos données ?</h2>
    <p class="my-2">Nous conservons vos données pour des durées variables en fonction du type de données et des finalités pour
        lesquelles elles sont traitées dans les conditions suivantes:</p>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <td><strong>Type de données</strong></td>
                    <td><strong>Durée de conservation</strong></td>
                </tr>
                <tr>
                    <td>- Données collectées par un formulaire (sauf estimation) ou activation de l’alerte, de mise en
                        favoris ou issues d’un compte<br>- Données de navigation relative à votre projet immobilier / à
                        la personnalisation du contenu / à la mesure d’audience / à la prévention de la fraude</td>
                    <td>3 ans dans une base active à compter de votre dernière activité (modification de son compte,
                        navigation, saisie d'un formulaire sur l'un des sites Internet et/ou sur l'une des applications,
                        ...) sur l'un des sites Internet (et applications associées) “Habitation” du Groupe Sinequanone
                        suivants:<ul class="ml-10 list-disc">
                            <li>www.sinequanone.com</li>
                            <li>www.selogerneuf.com</li>
                            <li>www.seloger-construire.com</li>
                            <li>www.bellesdemeures.com</li>
                            <li>www.louervite.fr</li>
                            <li>www.lacoteimmo.com</li>
                            <li>www.logic-immo.com</li>
                            <li>www.neuf.logic-immo.com</li>
                            <li>www.construire.logic-immo.com</li>
                            <li>www.lux-residence.com</li>
                            <li>www.immostreet.com&nbsp;</li>
                        </ul>2 ans additionnels dans une base d’archive pseudonymisée à accès restreint à des fins de
                        preuves.</td>
                </tr>
                <tr>
                    <td>Données collectées par le formulaire d’estimation</td>
                    <td>3 ans à compter de la réalisation de l’estimation ou du dernier contact pour la réalisation
                        d’études de qualité et d’amélioration sur l'un des sites Internet (et applications associées)
                        “Habitation” du Groupe Sinequanone&nbsp; <br>2 ans additionnels dans une base d’archive
                        pseudonymisée à accès restreint à des fins de preuves.</td>
                </tr>
                <tr>
                    <td>Données relatives à une annonce publiée</td>
                    <td>3 ans dans une base active à compter de l’expiration du contrat, 2 ans additionnels dans une
                        base d’archive pseudonymisée à accès restreint à des fins de preuves.</td>
                </tr>
                <tr>
                    <td>Données relatives à la lutte anti-fraude sur les annonces publiées par des particuliers</td>
                    <td>30 jours dans une base active à compter de la publication de l’annonce&nbsp; <br>5 ans
                        additionnels dans une base d’archive pseudonymisée à accès restreint à des fins de preuves.</td>
                </tr>
                <tr>
                    <td>Géolocalisation</td>
                    <td>Utilisation en temps réel et suppression immédiate</td>
                </tr>
                <tr>
                    <td>Enregistrement des Conversations téléphoniques</td>
                    <td>6 mois maximum</td>
                </tr>
                <tr>
                    <td>Documents et pièces comptables</td>
                    <td>10 ans, à titre de preuve comptable</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="font-bold text-lg my-4">7. Quels sont vos droits et comment les exercer ?</h2>
    <p class="my-2">Conformément au RGPD et dans les conditions prévues par ce texte, vous disposez des droits suivants:</p>
    <ul class="ml-10 list-disc">
        <li><strong>Droit d’accès</strong>: vous pouvez obtenir la confirmation que vos données sont traitées, et si tel
            est le cas, d’accéder à vos données et des informations sur les circonstances du traitement;</li>
        <li><strong>Droit de rectification</strong>: vous pouvez obtenir de DCF la rectification de vos données
            lorsqu’elles sont inexactes ou incomplètes, dans les meilleurs délais;</li>
        <li><strong>Droit à l’effacement:</strong> vous pouvez dans certaines conditions obtenir de DCF l'effacement de
            vos données, dans les meilleurs délais;</li>
        <li><strong>Droit à la limitation:</strong> vous pouvez obtenir la limitation du traitement lorsque vous
            contestez l’exactitude des données, la licéité de leur traitement, ou vous vous opposez au traitement ou
            vous souhaitez leur conservation à des fins de preuves;</li>
        <li><strong>Droit à la portabilité:</strong> vous pouvez recevoir vos données que nous traitons de manière
            automatisée et que vous avez fournies sur la base d’un contrat ou de votre consentement dans un format
            structuré, couramment utilisé et lisible par machine ou obtenir la transmission de ces données à un autre
            responsable de traitement;</li>
        <li><strong>Droit d’opposition:</strong> vous pouvez vous opposer à tout moment à un traitement de vos données
            par DCF, sauf si DCF dispose de motifs légitimes et impérieux au traitement de vos données. En cas de
            prospection commerciale, vous pouvez vous opposer sans motif;</li>
        <li><strong>Droit de ne pas faire l'objet d'une décision fondée sur un traitement automatisé:</strong> vous avez
            le droit de ne pas faire l’objet d’une décision fondée exclusivement sur un traitement automatisé et
            produisant des effets juridiques vous concernant ou vous affectant similairement de manière significative,
            sauf lorsque ce traitement est nécessaire à la conclusion ou l’exécution d’un contrat ou est autorisée par
            la loi;</li>
        <li><strong>Droit d’introduire une réclamation</strong>: vous avez le droit d’introduire une réclamation auprès
            d’une autorité de contrôle, notamment la CNIL.</li>
        <li><strong>Directives en cas de décès: </strong>vous avez le droit de formuler des directives concernant le
            sort de vos données en cas de décès.</li>
    </ul>
    <p class="my-2">Pour exercer vos droits, il vous suffit de nous contacter via la rubrique « Nous contacter » (mentionner ses
        noms, prénoms, adresse de courrier électronique), disponible via ce <a
            href="#">lien</a>.&nbsp;</p>
    <p class="my-2">Vous pouvez également adresser un simple courrier à DCF à l’adresse postale suivante:</p>
    <p class="my-2">Digital Classifieds France</p>
    <p class="my-2">Direction Juridique</p>
    <p class="my-2">Données Personnelles: Exercez vos Droits</p>
    <p class="my-2">65, rue Ordener 75018 Paris</p>
    <p class="my-2">Si vous bénéficiez d’un compte Utilisateur sur le Site ou l’Application, vous pouvez également gérer vos
        abonnements, alertes et newsletters au sein de l’espace Alerte et Newsletters.</p>
    <h2 class="font-bold text-lg my-4">8. Sécurité de vos données</h2>
    <p class="my-2">DCF collecte et traite les Données avec la plus grande confidentialité et sécurité, et dans le respect des lois
        applicables à DCF.</p>
    <p class="my-2">DCF s'engage à prendre toutes mesures raisonnables nécessaires à la sécurisation et à la protection des Données
        des Utilisateurs du Site Internet et/ou de l'Application et des Services, collectées et traités par ses soins
        (notamment pare-feu, contrôles d'accès physiques aux data center, habilitations, etc.).</p>
    <h2 class="font-bold text-lg my-4">9. Comment contacter le Délégué à la Protection des Données (DPO) ?</h2>
    <p class="my-2">DCF a désigné un Délégué à la Protection des Données. Pour toute question relative à la collecte et au traitement
        de vos données par DCF, vous pouvez contacter le DPO à l’adresse mail suivante: contact.dpo@groupesinequanone.com.
    </p>
    <h1 class="u-center main-title">POLITIQUE DE COOKIES</h1>
    <p class="my-2">Lors de la consultation du Site Internet et/ou de l'Application, des informations sont susceptibles d'être
        enregistrées dans des fichiers « cookies » installés dans l'ordinateur, tablette ou téléphone mobile de
        l'Utilisateur. Cette page permet de comprendre ce qu'est un cookie, à quoi il sert et comment on peut le
        paramétrer.</p>
    <h2 class="font-bold text-lg my-4">1. Qu’est-ce qu’un cookie ?</h2>
    <p class="my-2">Un cookie est un fichier texte susceptible d'être enregistré, sous réserve du choix de l'Utilisateur, dans un
        espace dédié du disque dur de votre terminal, à l'occasion de la consultation d'un service en ligne grâce au
        logiciel de navigation de l'Utilisateur.</p>
    <p class="my-2">Un fichier cookie permet à son émetteur d'identifier le terminal dans lequel il est enregistré, pendant la durée
        de validité du cookie.</p>
    <h2 class="font-bold text-lg my-4">2. A quoi servent les cookies émis sur le Site Internet et/ou l’Application ?</h2>
    <p class="my-2">Les cookies et traceurs déposés sur notre Site Internet et/ou notre Application sont de différentes natures :</p>
    <p class="my-2"><strong>a) Les cookies fonctionnels</strong></p>
    <p class="my-2">Ces cookies que nous déposons permettent :</p>
    <ul class="ml-10 list-disc">
        <li>de vous identifier lorsque vous vous connectez sur notre Site ou Application,</li>
        <li>d'adapter la présentation du Site et de l’Application aux préférences d'affichage de votre terminal (langue
            utilisée, résolution d'affichage, système d'exploitation utilisé, etc),</li>
        <li>de mémoriser des informations relatives à un formulaire que l'Utilisateur a rempli sur le Site Internet
            et/ou l'Application (inscription ou accès à votre compte) ou à des produits, services ou informations que
            l'Utilisateur a choisis sur le Site Internet et/ou l'Application (service souscrit, contenu consulté, etc
            …).</li>
    </ul>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <th><strong>Partenaires&nbsp;&nbsp;</strong></th>
                    <th><strong>Plus d’informations&nbsp;&nbsp;</strong></th>
                </tr>
                <tr>
                    <td><strong>XAMARIN&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://docs.microsoft.com/fr-fr/xamarin/get-started/what-is-xamarin">https://docs.microsoft.com/fr-fr/xamarin/get-started/what-is-xamarin</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>GOOGLE TAG MANAGER&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://support.google.com/tagmanager/answer/6102821?hl=fr">https://support.google.com/tagmanager/answer/6102821?hl=fr</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>DATADOME&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://datadome.co/fr/bot-protection/">https://datadome.co/fr/bot-protection/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>MAPBOX&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.mapbox.com/legal/privacy/">https://www.mapbox.com/legal/privacy/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>DIDOMI&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.didomi.io/fr/produits/consent-management-platform">https://www.didomi.io/fr/produits/consent-management-platform</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>NAVEE (BARINOMI)&nbsp;&nbsp;</strong></td>
                    <td><a class="text-blue-900" href="https://docs.navee.co/">https://docs.navee.co/</a>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>LAUNCHDARKLY&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://launchdarkly.com/policies/privacy">https://launchdarkly.com/policies/privacy</a>&nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="my-2"><strong>b) Les cookies de recommandations d’annonces personnalisées</strong></p>
    <p class="my-2">Ces cookies que nous déposons permettent :</p>
    <ul class="ml-10 list-disc">
        <li>de vous adresser des recommandations d’annonces en lien avec votre navigation sur le Site ou l’Application.
        </li>
    </ul>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <th><strong>Partenaires&nbsp;&nbsp;</strong></th>
                    <th><strong>Plus d’informations&nbsp;&nbsp;</strong></th>
                </tr>
                <tr>
                    <td><strong>SNOWPLOW&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://snowplowanalytics.com/privacy-policy/">https://snowplowanalytics.com/privacy-policy/</a>&nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="my-2"><strong>c) Les cookies de mesure d’audience</strong></p>
    <p class="my-2">Ces cookies que nous déposons permettent :</p>
    <ul class="ml-10 list-disc">
        <li>d’établir des statistiques anonymes de fréquentation du Site et de l’Application sauf opposition de votre
            part,</li>
        <li>de mesurer l’audience du site,</li>
        <li>de réaliser des études de marchés et améliorer notre site.</li>
    </ul>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <th><strong>Partenaires&nbsp;&nbsp;</strong></th>
                    <th><strong>Plus d’informations&nbsp;/&nbsp;Mesure d’opposition&nbsp;&nbsp;</strong></th>
                </tr>
                <tr>
                    <td><strong>AT INTERNET&nbsp;&nbsp;</strong></td>
                    <td><a class="text-blue-900" href="http://www.xiti.com/fr/optout.aspx">http://www.xiti.com/fr/optout.aspx</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>REALYTICS&nbsp;&nbsp;</strong></td>
                    <td><a class="text-blue-900" href="https://www.realytics.io/optout/">https://www.realytics.io/optout/</a>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>GOOGLE ANALYTICS&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://policies.google.com/technologies/cookies?hl=fr&amp;gl=fr">https://policies.google.com/technologies/cookies?hl=fr&amp;gl=fr</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>FIREBASE&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.firebase.com/terms/privacy-policy.html">https://www.firebase.com/terms/privacy-policy.html</a>&nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="my-2"><strong>d) Les cookies de suivi et personnalisation de votre navigation</strong></p>
    <p class="my-2">Ces cookies que nous déposons permettent :</p>
    <ul class="ml-10 list-disc">
        <li>de simplifier vos recherches en conservant vos annonces sauvegardées et rubriques visitées,</li>
        <li>de tester différentes versions du Site/de l’Application et mesurer l’audience de ces versions,</li>
        <li>d’estimer automatiquement le degré d’intérêt de votre recherche et communiquer cette indication au
            professionnel de l’immobilier que vous contactez pour l’aider à améliorer sa gestion des demandes de
            contact, lui permettre de mieux comprendre votre projet immobilier d’achat et lui indiquer les annonces qui
            pourraient vous intéresser,</li>
        <li>de vous proposer des annonces correspondant à vos recherches précédentes.</li>
    </ul>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <th><strong>Partenaires&nbsp;&nbsp;</strong></th>
                    <th><strong>Plus d’informations&nbsp;/&nbsp;Mesure d’opposition&nbsp;&nbsp;</strong></th>
                </tr>
                <tr>
                    <td><strong>GOOGLE ANALYTICS&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://policies.google.com/privacy?hl=fr&amp;gl=fr">https://policies.google.com/privacy?hl=fr&amp;gl=fr</a>&nbsp;&nbsp;<br><a
                            href="https://chrome.google.com/webstore/detail/google-analytics-opt-out/fllaojicojecljbmefodhfapmkghcbnh?hl=fr">https://chrome.google.com/webstore/detail/google-analytics-opt-out/fllaojicojecljbmefodhfapmkghcbnh?hl=fr</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>FIREBASE&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.firebase.com/terms/privacy-policy.html">https://www.firebase.com/terms/privacy-policy.html</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>SNOWPLOW&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://snowplowanalytics.com/privacy-policy/">https://snowplowanalytics.com/privacy-policy/</a>&nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="my-2"><strong>e) Les cookies de publicité ciblée</strong></p>
    <p class="my-2">Ces cookies permettent :</p>
    <ul class="ml-10 list-disc">
        <li>l’affichage d’offres promotionnelles et de publicités pertinentes et ciblées pour vous dans les emplacements
            publicitaires réservés à la publicité sur des sites tiers.&nbsp;</li>
        <li>de mesurer l’efficacité d’une campagne publicitaire sur le Site ou l’Application,</li>
        <li>de limiter l’affichage d’une publicité sur le Site ou l’Application.</li>
    </ul>
    <p class="my-2">&nbsp;Ils peuvent être déposés, sous réserve de votre consentement :</p>
    <ul class="ml-10 list-disc">
        <li>soit par DCF,</li>
        <li>soit par ses partenaires publicitaires référencés dans la liste “Voir nos partenaires“ de notre plateforme
            de gestion des cookies.</li>
    </ul>
    <p class="my-2">L'émission et l'utilisation de cookies par des tiers sont soumises aux politiques de protection de la vie privée
        de ces tiers. A ce titre, nous vous invitons à consulter la politique de confidentialité de ces partenaires liés
        à ces cookies dont certaines sont disponibles ci-après.</p>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <th><strong>Partenaires&nbsp;&nbsp;</strong></th>
                    <th><strong>Plus d’informations&nbsp;/&nbsp;Mesure d’opposition&nbsp;&nbsp;</strong></th>
                </tr>
                <tr>
                    <td><strong>ACCENGAGE&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.accengage.com/privacy-policy/">https://www.accengage.com/privacy-policy/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>FIREBASE&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.firebase.com/terms/privacy-policy.html">https://www.firebase.com/terms/privacy-policy.html</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>DOUBLECLICK&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://support.google.com/dfp_premium/answer/2839090?hl=fr">https://support.google.com/dfp_premium/answer/2839090?hl=fr</a>&nbsp;&nbsp;<br><a
                            href="https://policies.google.com/privacy?hl=fr&amp;gl=fr">https://policies.google.com/privacy?hl=fr&amp;gl=fr</a>&nbsp;&nbsp;<br><a
                            href="https://adssettings.google.com/authenticated?hl=fr">https://adssettings.google.com/authenticated?hl=fr</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>GOOGLE ADS&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://policies.google.com/technologies/cookies?hl=fr&amp;gl=fr">https://policies.google.com/technologies/cookies?hl=fr&amp;gl=fr</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>GOOGLE ADSENSE&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://policies.google.com/technologies/cookies?hl=fr&amp;gl=fr">https://policies.google.com/technologies/cookies?hl=fr&amp;gl=fr</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>REMAILME&nbsp;&nbsp;</strong><br><strong>(CLOUDMEDIA)&nbsp;&nbsp;</strong></td>
                    <td><a class="text-blue-900" href="https://remailme.fr/opt-out/">https://remailme.fr/opt-out/</a>&nbsp;&nbsp;<br><a
                            href="https://www.cloudmedia.fr/vie-privee">https://www.cloudmedia.fr/vie-privee</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>WEBORAMA&nbsp;&nbsp;</strong></td>
                    <td><a class="text-blue-900" href="https://weborama.com/fr/opt-out-2/">https://weborama.com/fr/opt-out-2/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>BLUEKAI&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://datacloudoptout.oracle.com/">https://datacloudoptout.oracle.com/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>XANDR&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.xandr.com/privacy/platform-privacy-policy/">https://www.xandr.com/privacy/platform-privacy-policy/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>GAMNED&nbsp;&nbsp;</strong><br><strong>(ENGAGED!/ADBUTTER)&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.gamned.com/fr/vie-privee/">https://www.gamned.com/fr/vie-privee/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>CRITEO&nbsp;&nbsp;</strong></td>
                    <td><a class="text-blue-900" href="https://www.criteo.com/fr/privacy/">https://www.criteo.com/fr/privacy/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>FACEBOOK&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://fr-fr.facebook.com/policies/cookies/">https://fr-fr.facebook.com/policies/cookies/</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>MEDIARITHMICS&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.mediarithmics.com/fr-fr/content/charte-de-protection-des-donnees-personnelles">https://www.mediarithmics.com/fr-fr/content/charte-de-protection-des-donnees-personnelles</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>APPSFLYER&nbsp;&nbsp;</strong></td>
                    <td><a
                            href="https://www.appsflyer.com/services-privacy-policy/">https://www.appsflyer.com/services-privacy-policy/</a>&nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="font-bold text-lg my-4">3. Comment paramétrer mes cookies ?</h2>
    <p class="my-2">A tout moment, lorsque vous le souhaitez, vous avez la possibilité de contrôler vos souhaits en matière de
        cookies
        <!-- --> <strong>en paramétrant le module de cookies dont le lien est accessible en bas de page du Site ou dans
            les menus de l’Application.</strong>
    </p>
    <p class="my-2">Vous pouvez également gérer les cookies:</p>
    <p class="my-2"><strong>(i) en paramétrant votre navigateur :</strong></p>
    <p class="my-2">L'Utilisateur peut configurer son logiciel de navigation de manière à ce que des cookies soient enregistrés dans
        son terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur.&nbsp;</p>
    <p class="my-2">L'Utilisateur peut également configurer son logiciel de navigation de manière à ce que l'acceptation ou le refus
        des cookies lui soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans son
        terminal.</p>
    <p class="my-2">Pour la gestion des cookies et des choix de l'Utilisateur, la configuration de chaque navigateur est différente.
        Elle est décrite dans le menu d'aide du navigateur de l'Utilisateur, qui lui permettra de savoir de quelle
        manière modifier ses souhaits en matière de cookies.</p>
    <p class="my-2">Pour plus d'information :
        <!-- --> <a
            href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/">http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/</a>
    </p>
    <p class="my-2">Par exemple :</p>
    <p style="text-align:left">- Pour Internet Explorer :
        <!-- --> <a
            href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</a>&nbsp;
    </p>
    <p style="text-align:left">- Pour Firefox :
        <!-- --> <a
            href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences</a>&nbsp;
    </p>
    <p style="text-align:left">- Pour Safari : <a
            href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac">https://support.apple.com/fr-fr/guide/safari/sfri11471/mac</a>
    </p>
    <p style="text-align:left">- Pour Google Chrome :
        <!-- --> <a
            href="https://support.google.com/chrome/answer/95647?hl=fr&amp;hlrm=en">https://support.google.com/chrome/answer/95647?hl=fr&amp;hlrm=en</a>&nbsp;
    </p>
    <p style="text-align:left">- Pour Opera™ : <a
            href="http://help.opera.com/Windows/10.20/fr/cookies.html">http://help.opera.com/Windows/10.20/fr/cookies.html</a>,
    </p>
    <p style="text-align:left">- Etc …</p>
    <p style="text-align:left">- Les cookies « Flash »© de « Adobe Flash Player »™</p>
    <p class="my-2">« Adobe Flash Player »™ est une application informatique qui permet le développement rapide des contenus
        dynamiques utilisant le langage informatique « Flash ». Flash(et les applications de même type) mémorise les
        paramètres, les préférences et l'utilisation de ces contenus grâce à une technologie similaire aux cookies.
        Toutefois, « Adobe Flash Player »™ gère ces informations et vos choix via une interface différente de celle
        fournie par votre logiciel de navigation.</p>
    <p class="my-2">Dans la mesure où le terminal de l'Utilisateur serait susceptible de visualiser des contenus développés avec le
        langage Flash, l'Utilisateur est invité à accéder à ses outils de gestion des cookies Flash, directement depuis
        le https://www.adobe.com/fr/privacy/cookies.html</p>
    <p class="my-2"><strong>(ii) en refusant les cookies publicitaires via youronlinechoices.com</strong></p>
    <p class="my-2">L'Utilisateur peut gérer l'utilisation et l'exploitation des cookies en se rendant sur la plateforme de gestion
        des cookies publicitaires proposée par les professionnels de la publicité accessible à l'adresse :
        <!-- --> <a
            href="http://www.youronlinechoices.com/fr/controler-ses-cookies/">http://www.youronlinechoices.com/fr/controler-ses-cookies/</a>
        et en suivant les instructions qui y sont données. L'Utilisateur pourra ainsi connaître les entreprises
        inscrites à cette plateforme, lesquelles leur offrent la possibilité de refuser ou accepter les cookies utilisés
        par elles pour adapter à leurs informations de navigation, les publicités susceptibles d'être affichées.
    </p>
    <p class="my-2"><strong>(iii) en refusant un cookie émis par un réseau social :</strong></p>
    <p class="my-2">Si l’Utilisateur ne souhaite pas que le Site Internet et/ou l’Application enregistre des cookies émis par un
        réseau social, l’Utilisateur peut cliquer sur les liens d’information suivants afin de désactiver les cookies
        émis par un réseau social. Désactiver ces cookies empêchera donc toute interaction avec le ou les réseaux
        sociaux concernés :</p>
    <p class="my-2">FACEBOOK : <a
            href="https://fr-fr.facebook.com/policies/cookies/">https://fr-fr.facebook.com/policies/cookies/</a>&nbsp;
    </p>
    <p class="my-2">TWITTER :
        <!-- --> <a
            href="https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt#">https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt#</a>&nbsp;
    </p>
    <p class="my-2">GOOGLE + : <a
            href="https://support.google.com/accounts/answer/3118621?hl=fr">https://support.google.com/accounts/answer/3118621?hl=fr</a>
    </p>
    <p class="my-2">LINKEDIN : <a
            href="http://www.linkedin.com/legal/cookie-policy">http://www.linkedin.com/legal/cookie-policy</a>&nbsp;</p>
    <p class="my-2">YAHOO : <a
            href="https://info.yahoo.com/privacy/us/yahoo/cookies/">https://info.yahoo.com/privacy/us/yahoo/cookies/</a>&nbsp;
    </p>
    <p class="my-2">YOUTUBE : <a
            href="https://support.google.com/accounts/answer/3118621?hl=fr">https://support.google.com/accounts/answer/3118621?hl=fr</a>
    </p>
    <p class="my-2">En savoir plus sur les cookies <a
            href="https://www.cnil.fr/fr/cookies-et-traceurs-que-dit-la-loi">https://www.cnil.fr/fr/cookies-et-traceurs-que-dit-la-loi</a>&nbsp;
    </p>
    <p class="my-2">En cas de refus de certains traceurs, les fonctionnalités associées aux traceurs refusés ne seront pas
        accessibles (par exemple : la recommandation ou la personnalisation du service). Le cas échéant, DCF décline
        toute responsabilité pour les conséquences liées au fonctionnement dégradé de ses services résultant des choix
        exprimés par l’utilisateur. En tout état de cause, les fonctionnalités strictement nécessaires ou demandées par
        l’utilisateur resteront accessibles (par exemple : l’authentification à un compte et la mise en favoris).</p>
    <h2 class="font-bold text-lg my-4">4. Durée de conservation de vos choix</h2>
    <p class="my-2">Vos choix en matière de cookies sont conservés au maximum pour une durée de 6 (six) mois.</p>
</div>
</section>
{% endblock %}