<form method="post" action="{{ path('front_property_delete', {'id': property.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer votre bien? (cette action est définitive)');" class="inline">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
	<button class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg">Suppression du bien</button>
</form>
