{% extends 'base_front.html.twig' %}

{% block body %}
<section class="container mx-auto">
	<h1 class="text-5xl text-center font-bold mt-6 mb-12">Formulaire d'ajout d'un bien</h1>

	{{ include('front/property/_form.html.twig') }}
</section>
{% endblock %}