{% extends 'base_front.html.twig' %}

{% block body %}
	<h1 class="text-5xl text-center font-bold mt-6 mb-4">Formulaire d'ajout d'un bien</h1>

	{{ include('front/property/_form.html.twig') }}
{% endblock %}
