{% extends 'base_front.html.twig' %}

{% block body %}
	<h1 class="text-2xl mt-8 mb-4">Bien</h1>

    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/5o/illico-travaux-conseils-extension-maison-bois.jpg" alt="Photo du bien" class="rounded object-cover w-full"/>
    
        </div>
        <div class="bg-gray-100 rounded pt-8 px-6">
            <h2 class="text-lg font-bold">Nous contacter</h2>

            <p>Lorel ipsum</p>
        </div>
    </div>
{% endblock %}
