<div class="flex justify-center ...">
    <div>Bonjour {{ name }}</div>
    <br>
    <p> Bienvenue dans notre plateforme !</p>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <p> lors de votre première connexion, votre mot de passe par défault est le : {{ password }} </p>
        <p> Par mesure de sécurité veuillez le modifier dans votre espace profile.</p>
    </button>
</div>


